body {
    background-color: #FFFF99;
}
#header {
    text-align: center;
}
#header h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 30px;
}
.header-busyo {
    display: inline-block;
    margin-right: 180px;
    font-weight: bold;
}
.header-name {
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 60px;
}
.box {
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
}
.box1 {
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    margin-left: 30px;
}
.first_price_box ,.second_price_box ,.third_price_box {
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    margin-left: 30px;
}
.first_quantity_box ,.second_quantity_box ,.third_quantity_box{
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    margin-left: 30px;
}
.first_total_box ,.second_total_box ,.third_total_box{
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    margin-left: 30px;
}
#sum-box1, #sum-box2, #sum-box3 {
    height: 20px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
}
#contents1 {
    border: solid 1px;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: white;
    border-radius: 6px;
}
#contents1 h2 {
    background-color: white;
    width: 150px;
    font-weight: normal;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: -30px;
    position: relative;
    bottom: 30px;
    left: 15px;
}
.contents-header1 p {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 20%;
    margin-top: 2px;
    margin-bottom: -2px;
    margin-left: 52px;
}
.contents-main1 {
    display: inline-block;
    float: left;
    width: 25%;
    background-color: #FF6928;
    margin-bottom: 3px;
}
.contents-main2 {
    display: inline-block;
    float: left;
    width: 25%;
    background-color: #FF8856;
    margin-bottom: 3px;
}
#sum1, #sum2, #sum3 {
    background-color: #FF8856;
}
.sum {
    clear: both;
    font-weight: bold;
    font-size: 15px;
    display: inline-flex;
    justify-content: flex-end;
    width: 1215px;
    position: relative;
    right: 47px;
}
footer {
    background-color: white;
    width: 100%;
    height: 65px;
    margin-top: 20px;
    position: fixed;
    bottom: 0px;
    text-align: right;
}
footer p {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
}
#grandTotal {
    display: inline-block;
    height: 30px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0;
    margin-right: 30px;
}
#cancel-box, #submit-box {
    display: inline-block;
    font-size: 12px;
    width: 90px;
    height: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px 100px 0 0;
    background: linear-gradient(#EEEEEE, #AAAAAA);
}
body {
    margin-bottom: 80px;
}
:disabled {
    color: black;
}